* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
a {
    text-decoration: none;
}

.base {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    padding: 25px 20px;
    border-radius: 14px;
    min-width: 186px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    color: var(--primary-color);
    background: transparent;
    outline: 1px solid var(--primary-color);
}

.title {
    color: #0d1111;
    font-weight: 700;
}

.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

/* Header + Navbar */
.header {
    position: sticky;
    top: -47px;
    z-index: 1;
    padding: 52px 0 5px 0;
    background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-link {
    display: flex;
}

.navbar .logo-item:nth-child(2) {
    margin-left: 6px;
}

.navbar .logo-item:nth-child(3) {
    position: relative;
    left: 4px;
    bottom: -6px;
}

.navbar .navigation {
    display: flex;
}

.navbar .action-link {
    padding: 8px 20px;
    color: #2f3a3b;
}

.action-link.active {
    font-weight: 600;
}

.navbar .action-link.active:hover {
    text-shadow: none;
}

.navbar .action-link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar .user {
    display: flex;
    align-items: center;
}

.navbar .sign-in {
    margin-right: 4px;
}

.navbar .sign-up {
    padding: 15px 20px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    min-width: 108px;
    color: var(--primary-color);
    font-size: 1.6rem;
    background: transparent;
}

.navbar .sign-up:hover {
    background: var(--primary-color);
    color: #fff;
}

/* Hero */
.hero {
    padding: 45px 0 79px;
}

.hero .hero-body {
    display: flex;
    justify-content: space-between;
}

/* hero-text */
.hero-text {
    padding: 93px 0;
}

.hero .heading {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .title {
    margin-top: 18px;
    width: 459px;
    max-width: 100%;
}

.hero .desc {
    margin-top: 46px;
    width: 100%;
    max-width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .button-cta {
    margin-top: 52px;
    display: flex;
}

.hero .button-cta .play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border: none;
    border-radius: 62px;
    width: 62px;
    height: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .button-cta .play img {
    transform: translateX(15%);
}

.hero .button-cta .play:hover {
    background: #eee;
    cursor: pointer;
}

/* hero-media */
.hero-media {
    position: relative;
    width: 576px;
}

.hero-media .img {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

/* courses */
.hero-media .courses {
    display: flex;
    position: absolute;
    top: 149px;
    left: -40px;
    border-radius: 18px;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .courses .shape-1 {
    margin: 17px 0 18px 25px;
    border-radius: 4px 2px 2px 4px;
    width: 36px;
    height: 40px;
    background: #ff8282;
}

.hero-media .courses .shape-2 {
    position: relative;
    left: 29px;
    bottom: 30px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    background: #ffffff;
}

.hero-media .courses .text,
.hero-media .schedules .text {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero-media .courses .text {
    margin: 22px 25px 23px 16px;
}

/* schedules */
.hero-media .schedules {
    position: absolute;
    top: 453px;
    left: -65px;
    border-radius: 24px;
    width: 124px;
    height: 132px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .schedules .items {
    margin: 16px 25px 23px;
}

.hero-media .schedules .text {
    text-align: center;
    padding-bottom: 4px;
}

.hero-media .schedules .img img {
    display: block;
    margin-top: 12px;
}

.hero-media .schedules .img img:last-child {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* students */
.hero-media .students {
    position: absolute;
    top: 500px;
    right: 45px;
    border-radius: 24px;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .students .items {
    margin: 17px 35px;
}

.hero-media .students .text {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero-media .students .avatar {
    margin-top: 8px;
    display: flex;
}

.hero-media .students .avatar-img {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background: var(--primary-color);
    object-fit: cover;
}

.hero-media .students .avatar-img:not(:first-child) {
    margin-left: -7px;
}

.hero-media .students .avatar-img:last-child {
    color: #fff;
    line-height: 33px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */
.features {
    padding: 130px 0;
}

.features .body {
    max-width: 1024px;
    width: 100%;
}

/* features-top */
.features .heading,
.courses-top .heading {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.features-top .title {
    margin-top: 18px;
    max-width: 577px;
    width: 100%;
}

.features-top .desc {
    margin-top: 18px;
    max-width: 590px;
    width: 100%;
    color: #767e7e;
    font-size: 18px;
    line-height: normal;
}

/* features-bottom */
.features-bottom {
    margin-top: 80px;
    display: flex;
}

.features-bottom .bgc {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    width: 102px;
    height: 106px;
    background: #ffc147;
}

.features-bottom .bgc-2 {
    background: #ff947a;
}

.features-bottom .bgc-3 {
    background: #bf83ff;
}

.features-bottom .title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features-bottom .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-weight: 400;
    line-height: 1.69;
    max-width: 168px;
    width: 100%;
}

.features-bottom .column-2 .desc {
    max-width: 223px;
}

.features-bottom .column-2 {
    margin-left: 209px;
}

.features-bottom .column-3 .desc {
    max-width: 224px;
}

.features-bottom .column-3 {
    margin-left: 200px;
}

/* Courses */
/* courses-top */
.courses-top .title.lv2 {
    margin-top: 18px;
}

.courses-top .row {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-top .desc {
    max-width: 525px;
    width: 100%;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78;
}

.courses-top .link-cta {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

/* courses-bottom */
.courses-bottom {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses-bottom .card {
    display: flex;
    justify-content: center;
    position: relative;
    width: calc((100% - 60px) / 3);
    border-radius: 8px;
}

.courses-bottom .card .img {
    border-radius: 8px;
    width: 100%;
    height: 393px;
    object-fit: cover;
}

.courses-bottom .card .img:hover {
    opacity: 0.35;
    background: #d0efed;
}

.courses-bottom .info {
    position: absolute;
    top: 322px;
    width: 90%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-bottom .info .content {
    margin: 18px 25px 29px;
}

.courses-bottom .info .sub-title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-bottom .info .price {
    margin-top: 16px;
    color: #767e7e;
    line-height: normal;
}

.courses-bottom .info strong {
    display: inline-block;
    margin-top: 16px;
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-bottom .info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses-bottom .info .row {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.courses-bottom .info .dot {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
}

.courses-bottom .info .row span {
    color: #9da6a5;
    line-height: normal;
}

/* Countdown */
.countdown {
    margin: 389px 0 264px;
}

.countdown .base {
    display: flex;
    justify-content: center;
}

.countdown .countdown-body {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.countdown-body .value {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.countdown-body .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

/* Feedback */
.feedback-item {
    display: flex;
}

/* feedback-content */
.feedback-item .content,
.feedback-item .students {
    width: 50%;
}

.feedback-item .icon-quote {
    margin-top: 37px;
}

.feedback-item .quote {
    width: 419px;
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5;
}

.feedback-item .name {
    display: flex;
    gap: 5px;
    margin-top: 33px;
    color: #767e7e;
    line-height: normal;
}

.feedback-item .name .value {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #070707;
    font-weight: 500;
    line-height: normal;
}

.feedback-item .name .value::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback-item .button-click {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback-item .button-click .button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: var(--primary-color);
    color: #fff;
}

.feedback-item .button-click .button:hover {
    background: #fff;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    cursor: pointer;
}

/* feebback-students */
.feedback-item .students {
    position: relative;
    display: flex;
}

.feedback-item .avatar-1 {
    position: absolute;
    top: 0;
    left: 50px;
    flex-shrink: 0;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.feedback-item .avatar-2 {
    position: absolute;
    right: 0;
    flex-shrink: 0;
    width: 110px;
    height: 110px;
}

.feedback-item .avatar-3 {
    flex-shrink: 0;
    margin: auto;
    width: 235px;
    height: 235px;
}

.feedback-item .avatar-4 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
}

.feedback-item .avatar-5 {
    position: absolute;
    bottom: 0;
    left: 100px;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
}

.feedback-item .avatar-6 {
    position: absolute;
    top: 258px;
    left: -80px;
    right: 0;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
}

.feedback-item .students .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* CTA  */
.cta {
    margin: 130px 0;
    background: #def6f5;
}

.cta .cta-body {
    display: flex;
    align-items: center;
}
.cta-body .title.lv2 {
    margin-top: 76px;
}

.cta-body .desc {
    margin-top: 18px;
    padding-bottom: 88px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

.cta-body .button {
    margin-left: 35%;
}
